$background: #e88410;
.header {
      background-color: $background; 
      color: 'white';
      margin-top: 20px;
      height: 70px;
      font-weight: 'lighter';
      padding: '10px '
      
  }  
